header > nav {
  height: 20vh;
}

header > nav > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

header a {
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
}

header a:hover {
  text-decoration: underline;
  color: cornflowerblue;
}

