.Poke {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Poke > pokemonList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  width: 80%;
  grid-gap: 3rem;
}

.Poke > pokemonList > img {
  width: 100%;
}