* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: rgb(73, 73, 142);
  color: rgb(254, 196, 88);
}

li {
  list-style-type: none;
}
